html {
	font-family: 'Open Sans', sans-serif;
}

.head-bar {
	background-color: #b3cef9;
	height: 50px;
	border-radius: 10px;
	margin: 1px 1px 0px 1px;
}

#home-logo {
	width: 50px;
	height: 30px;
	position: relative;
	margin: 12px 8px;
	float: left;
}

.dropdown {
	float: left;
	position: relative;
	margin: 5px;
}

.form-wrapper {
	display: flex;
	text-align: center;
	justify-content: center;
	flex-direction: column;
}

#schedule-title {
	margin: 1em;
	margin-top: 2em;
}

#return-form {
	display: none;
	position: relative;
	top: 20px;
}
