html {
	font-family: 'Open Sans', sans-serif;
}

.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

.form-wrapper {
	display: flex;
	text-align: left;
	align-items: center;
	flex-direction: column;
}

#schedule-title {
	margin: 0.5em;
	color: #484848;
	font-family: 'Montserrat', sans-serif;
	font-size: 3em;
}

#schedule-form {
	font-family: 'Open Sans', sans-serif;
}

#return {
	display: none;
	margin-top: 2em;
	margin-right: 20px;
}
